<launch>

    <arg name="teach" default="true"/>
    <arg name="recognize" default="false"/>


    <node pkg="find_object_2d" type="find_object_2d" name="find_object_2d">
        <remap from="image" to="/diff/camera_top/image_raw"/>
        <param name="gui" value="$(arg teach)"/>
        <param if="$(arg recognize)" name="objects_path" value="$(find myhusky)/image_rec/"/>
    </node>

</launch>